* {
    margin: 0;
    padding: 0;}
  
  body {
    background-color: rgb(37, 24, 105);
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgb(27, 18, 75);
  }
  
  nav ul {
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    list-style: none;
    margin: 0 23px;
  }
  
  nav ul li a {
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: rgb(171, 158, 231);
  }
  
  .left {
    font-size: 1.5rem;
  }
  
  .firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
  }
  
  .firstSection > div {
    width: 30%;
  }
  
  .leftSection {
    margin: 30px 0;
    font-size: 2.5rem;
  }
  
  .rightSection img {
    width: 80%;
  }
  
  .purple {
    color: #9e0aee;
  }
  
  #element {
    color: #9e0aee;
  }
  
  footer {
    text-align: center;
    padding: 20px 0;
    background-color: rgb(46, 30, 128);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer li {
    display: inline-block;
    margin: 0 10px;
  }
  
  footer a {
    color: #333;
    text-decoration: none;
  }
  
  footer li a img {
    width: 40px;
    height: 40px;
  }
  
  footer span {
    color: grey;
  }